{% load static %}


<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<title>Login</title>
<!------ Include the above in your HEAD tag ---------->



<div class="wrapper fadeInDown">
    <link rel="stylesheet" href="{% static 'loginpage.css' %}">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'calendar-1.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="{% url 'weightpage' %}">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Create Account -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Create Account</a>
    </div>

  </div>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery-3.5.1.min.js' %}"></script>