{% load static %}
{% load widget_tweaks %}

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'loginpage' %}">Registration</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    </li>
  </ul>
  </nav>

<br>

<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Create Account</div>
                            <div class="card-body">
                                <form class="form-horizontal" method="POST" action="#">{% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">{{ field.label_tag }}</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                {% render_field field class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                <div style="text-align:center">
                                    <input type="submit" value="Register">
                                </div>
                                <br>
                                 <div style="text-align:center">
                                     Already have an account? <a href="{% url 'loginpage' %}"> Click here!</a>
                                 </div>
                                </form>
                            </div>
                            </div>
                    </div>
</div>
</div>



<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery-3.5.1.min.js' %}"></script>