{% extends 'weightpage/base.html' %}
{% block content %}

        <!-- Table -->

      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Day</th>
              <th>Weight</th>
              <th>Time</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for weight in weights %}
          <tr>
              <td>{{ weight.3 }}</td>
              <td>{{ weight.0 }} kg</td>
              <td>{{ weight.1 }}</td>
              <td>{{ weight.2 }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    {% if message %}
    <script>
    alert('{{ message }}');
    </script>
    {% endif %}


{% endblock %}