{% extends 'weightpage/base.html' %}
{% block content %}

        <!-- Table -->

      <h2>Are you sure you want to delete this entry?</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Day</th>
              <th>Weight</th>
              <th>Time</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <td>{{ weight.3 }}</td>
              <td>{{ weight.0 }} kg</td>
              <td>{{ weight.1 }}</td>
              <td>{{ weight.2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    <a href="{% url 'delete_data' weight.3 %}" type="button" class="btn btn-danger btn-lg">Delete</a>
    <a href="{% url 'dashboard' 'analytics' %}" type="button" class="btn btn-secondary btn-lg">Cancel</a>


{% endblock %}